
<div class="row">
    <div class="col-8 offset-2">
        <div class="card border-info">
            <div class="card-header bg-info text-white text-center">
                This is selected Item {{selectednote}}
            </div>
            <div class="card-body shadow-lg">
                <input class="form-control" type="text" name="" [(ngModel)]="selectednote">
                <br>
                <div class="row">
                    <div class="col-6">
                       <button type="button" class="btn btn-outline-warning btn-block" (click)="PassValue1()">DELETE</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-success btn-block" (click)="PassValue()">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



       
